/*Styling for popup.html*/
/* .popup-body {
  background-color: goldenrod;
} */

/*Styling for empty.html*/
/* .empty-body {
  background-color: black;
} */

.empty-body {
  background-color: #424242;
}
