/*Styling for popup.html*/
/* .popup-body {
  background-color: goldenrod;
} */


/*Styling for empty.html*/
<<<<<<< HEAD
/* .empty-body {
  background-color: black;
} */

/* 
.empty-body {
  background-color: blue;
} */
=======
.empty-body {
  background-color: #424242;
}
>>>>>>> btn
